@tailwind base;
@tailwind components;
@tailwind utilities;

.libre-baskerville-bold {
    font-family: "Libre Baskerville", serif;
    font-weight: 700;
    font-style: normal;
  }

  @layer components {
  .input-with-icon {
    @apply block w-full pl-10 pr-4 py-2.5 bg-white border border-slate-300 rounded-lg shadow-sm
           placeholder-slate-400 text-slate-900
           focus:outline-none focus:ring-2 focus:ring-sky-500 focus:border-sky-500
           transition-shadow duration-200;
  }
}